<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Via Spinner</title>

    <link rel="stylesheet" href="stylesheets/fonts.css">
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="stylesheets/game.css">
    <script src="code/tink.js"></script>
    <script src="code/pixi.js"></script>

    <script src="code/jquery-3.3.1.min.js"></script>

    <script>
        // let ajaxData;
        
        // $.ajax({
        //     type: "POST",
        //     url: "https://referralgame.ridewithvia.com/",
        //     data: ajaxData,
        //     success: success,
        //     dataType: 'json',
        //     username: 'xapikey',
        //     password: 'he8UKuofcja59p2lfQx5t1KdOJ4OMuhC3tJG3ayJ'
        // });

        // function success(data) {
        //     console.log(data);
        // }

        // POST method route
    </script>

</head>
<body>

    <noscript>
        <div class="noscript">You must enable JavaScript in your browser settings in order to participate in this game.</div>
    </noscript>

    <script data-main="code/Main.js" src="requirejs/require.js"></script>
    
    <div class="game-overlay">
        <div class="button-section">
            <button class="spin-button">Spin</button>
            <h2>Prizes are seconds away...</h2>
        </div>
    </div>

    <div class="darkener"></div>

    <div class="prompt-container">
        <div class="prompt-transparency-wrapper">
            <div class="prize-section">
                <h1>50% Off</h1>
            </div>
            <div class="description-section">

                <h1 class="prize-text">You've won 50% off your first 5 rides!</h1>
                <h2>Use code</h2>

                <div class="code-container">
                    <h1>XYZ123</h1>
                </div>

                <div class="links-container">
                    <div class="button-container">
                        <button class="download-button">Download and redeem</button>
                    </div>

                    <a>Text me the code</a>
                </div>

            </div>
        </div>
    </div>

</body>
</html>