<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Via Spinner</title>

    <link rel="stylesheet" href="stylesheets/style.css">
    <script src="code/tink.js"></script>
    <script src="code/pixi.js"></script>

    <script src="code/jquery-3.3.1.min.js"></script>

    <script>
        let ajaxData;
        
        $.ajax({
            type: "POST",
            url: "https://referralgame.ridewithvia.com/",
            data: ajaxData,
            success: success,
            dataType: 'json',
            username: 'xapikey',
            password: 'he8UKuofcja59p2lfQx5t1KdOJ4OMuhC3tJG3ayJ'
        });

        function success(data) {
            console.log(data);
        }
    </script>

</head>
<body>

    <noscript>
        <div class="noscript">You must enable JavaScript in your browser settings in order to participate in this game.</div>
    </noscript>

    <script data-main="code/Main.js" src="requirejs/require.js"></script>
    
</body>
</html>