<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Via Spinner Game Index</title>

    <link rel="stylesheet" href="stylesheets/fonts.css">
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="stylesheets/index.css">

</head>
<body>
    
    <div id="main">
        
        <div class="header">
            <h1>Debug Page Table of Contents</h1>
        </div>

        <div class="pages-list">
            <a href="/invitefriends">
                <div class="list-item">
                    <p>Invite Friends Page</p>
                </div>
            </a>
            <a href="/thankyou">
                <div class="list-item">
                    <p>Thank You Page</p>
                </div>
            </a>
            <a href="/spinintro">
                <div class="list-item">
                    <p>Game Intro Page</p>
                </div>
            </a>
            <a href="/game">
                <div class="list-item">
                    <p>Game Page</p>
                </div>
            </a>
        </div>

    </div>

</body>