<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Invite Your Friends! - Via</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="stylesheets/fonts.css">
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="stylesheets/invitefriends.css">
    
    <script src="code/jquery-3.3.1.min.js"></script>
    <script src="code/Utils/DisableScroll.js"></script>

    <link rel="icon" href="images/favicon.ico">
</head>
<body>

    <div id="main">
        <div class="icon-container">
            <img src="images/InviteYourFriends/MainIcon.png" class="main-icon">
            <img src="images/InviteYourFriends/StarIcon.png" class="star-icon bounce">
            <img src="images/InviteYourFriends/ChatIcon.png" class="chat-icon bounce-2">
        </div>

        <div class="bottom-half">
            <div class="text-container">
                <h1>Invite Your Friends To Play</h1>
                <h2>They'll spin to win you both a special prize!</h2>
            </div>

            <div class="button-container">
                <a class="share-button-clickable" data-type="text" href=<%= "sms:?&body=I%20ride%20with%20Via%2C%20you%20should%20too!%20Spin%20the%20wheel%20to%20score%20a%20special%20prize.%20" + inviteLink %>>
                    <button class="share-button">Text</button>
                </a>
                <a class="share-button-clickable" data-type="email" target="_blank" href=<%= "mailto:?to=&body=%20I%20ride%20with%20Via%2C%20you%20should%20too!%20Rides%20are%20fast%2C%20comfy%2C%20and%20always%20a%20low%20fare.%20Follow%20this%20link%20to%20spin%20the%20prize%20wheel%20and%20score%20a%20special%20sign%20up%20bonus.%20" + inviteLink + "&subject=Spin%20the%20Via%20prize%20wheel" %>>
                    <button class="share-button">Email</button>
                </a>
                <a class="share-button-clickable" data-type="facebook" target="_blank" href=<%= "https://www.facebook.com/sharer/sharer.php?u=https://ridewithvia.com/&quote=I%20ride%20with%20Via%2C%20you%20should%20too!%20Rides%20are%20fast%2C%20comfy%2C%20and%20always%20a%20low%20fare.%20Follow%20this%20link%20to%20spin%20the%20prize%20wheel%20and%20score%20a%20special%20sign%20up%20bonus.%20" + inviteLink %>>
                    <button class="share-button">Facebook</button>
                </a>
            </div>
        </div>

        <div class="how-it-works-container">
            <a class="how-it-works-link" onclick="showHowItWorksPrompt();"><span>How it works</span> <i class="fas fa-angle-right"></i></a>
        </div>
    </div>

    <div class="darkener" onclick="hideHowItWorksPrompt();"></div>

    <div class="prompt-container">
        <div class="prompt-transparency-wrapper">
            <div class="icon-container">
                <img src="images/InviteYourFriends/HowItWorksIcon.png" class="logo-icon">
            </div>
            <h1>How it Works</h1>
            <div class="info-container">
                <div class="info-row">
                    <div class="bullet">
                        <h2>1</h2>
                        <img src="images/InviteYourFriends/ListNumCircle.png" class="bullet-outline">
                    </div>
                    <p>Send your friend a link to spin our referral prize wheel</p>
                </div>
                <div class="info-row">
                    <div class="bullet">
                        <h2>2</h2>
                        <img src="images/InviteYourFriends/ListNumCircle.png" class="bullet-outline">
                    </div>
                    <p>They’ll spin to win a special prize, which they can redeem immediately upon signup</p>
                </div>
                <div class="info-row">
                    <div class="bullet">
                        <h2>3</h2>
                        <img src="images/InviteYourFriends/ListNumCircle.png" class="bullet-outline">
                    </div>
                    <p>Once they complete their first ride, you’ll get a heads up and receive the same prize automatically (no code necessary).</p>
                </div>
            </div>
        </div>
    </div>

    <script data-main="code/InviteFriends.js" src="requirejs/require.js"></script>

</body>
</html>