<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Spin to Win - Via</title>

    <link rel="stylesheet" href="stylesheets/fonts.css">
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="stylesheets/spinintro.css">
</head>
<body>
    
    <div id="main">
        <div class="logo-container">
            <img src="images/SpinIntro/LogoMotto.png" class="top-logo">
        </div>

        <div class="graphic-container">
            <img src="images/SpinIntro/SpinnerGraphic.png" class="graphic">
            <button class="win-rides-button">Win Free Rides</button>
        </div>

        <div class="text-container">
            <span class="border-piece"></span>
            <h1>Want a sure thing?</h1>
            <h2>Skip the spin & download</h2>
        </div>

        <div class="learn-more-container">
            <a class="learn-more-link">Learn more about Via</a>
        </div>

    </div>

</body>
</html>