body {
    text-align: center;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
}

#main {
    background: none;
    background-color: transparent;
    z-index: 5;

}
.background-holder {
    position: absolute;
    background-color: #b6ecff;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    max-width: calc(100vh / 1.6);
    top: 0px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    z-index: -99;
    overflow-x: hidden;
}
.background-holder .background-bottom-piece {
    position: absolute;
    width: 100%;
    bottom: 0px;
    left: 0px;
}
.background-holder .background-top-overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
}
.background-holder .background-icons {
    position: absolute;
    top: -2%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 105%;
}

canvas {
    position: absolute;
    padding: 0px;
    margin: 0px;
    top: 0px;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    /* background-color: transparent; */
    /* background: none; */
    /* z-index: 0; */
}

.game-overlay {
    position: absolute;
    width: 100vw;
    height: 100vh;
    max-width: calc(100vh / 1.6);
    top: 0px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    z-index: 5;
}
.game-overlay .button-section {
    position: absolute;
    bottom: 24vh;
    width: 100%;
    text-align: center;
    z-index: 999;
}
.game-overlay .spin-button {
    width: 50%;
    opacity: 1;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    font-size: 27px;
    margin-bottom: 40px;
}
.game-overlay .spin-button.removed {
    opacity: 0;
}
.game-overlay .spin-button:hover.removed {
    cursor: default;
}
.game-overlay .spin-text h2 {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    -webkit-transition: 0.5s;
    transition: 0.5s;
}
.game-overlay .spin-text .spinning-text {
    opacity: 0;
}

.darkener {
    visibility: hidden;
    position: fixed;
    top: 0px;
    left: 50%;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-transition: 0.3s;
    transition: 0.3s;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
}
.darkener.shown {
    visibility: visible;
    opacity: 0.8;
}

.loading-overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: black;
    z-index: 999;
    left: 0px;
    top: 0px;
}
.loading-overlay .loading-text {
    position: absolute;
    top: 50%;
    left: 50%;
    right: 50%;
    width: 100%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    text-align: center;
}
.loading-overlay .loading-icon {
    color: white;
}

.prize-iframe-container {  
    position: fixed;
    display: -webkit-box;  
    display: -ms-flexbox;  
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; /* horizontal */
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; /* vertical */
    pointer-events: none;
    opacity: 0;
    background-color: transparent;
    left: 0px;
    width: 100%;
    height: 100vh;
    z-index: 999;
    margin-top: -100vh;
    /* -webkit-transition: 0.3s;
    transition: 0.3s; */
    /* border: 5px solid red; */
}
.prize-iframe-container.active {
    margin-top: 0px;
    pointer-events: all !important;
    background-color: transparent;
    opacity: 1;
}
.prize-iframe {
    pointer-events: none;
    background-color: transparent;
    width: 90vw;
    max-width: calc(100vh / 2);
    height: 100%;
    z-index: 999;
    /* background-color: white; */
    /* border-radius: 15px; */ 
    /* border: 5px solid green; */
}
.prize-iframe-container.active .prize-iframe {
    pointer-events: all !important;
}

@supports (-webkit-overflow-scrolling: touch) {
    .prize-iframe-container {
        height: calc(100vh - 56px - 56px);
    }
}

@media (orientation: portrait) {
    canvas, .background-holder {
      width: 100vw;
      max-width: 100vw;
    }
    .game-overlay .spin-button {
        width: 70%;
        font-size: 5.14vw;
        margin-bottom: 1vh;
    }
}

@-webkit-keyframes fliz-spin {
    from {
        -webkit-transform: rotation(0deg);
                transform: rotation(0deg);
    }
    to {
        -webkit-transform: rotation(360deg);
                transform: rotation(360deg);
    }
}

@keyframes fliz-spin {
    from {
        -webkit-transform: rotation(0deg);
                transform: rotation(0deg);
    }
    to {
        -webkit-transform: rotation(360deg);
                transform: rotation(360deg);
    }
}