.logo-container {
    position: relative;
    width: 40%;
    height: auto;
    left: 50%;
    transform: translateX(-50%);
}
.logo-container .top-logo {
    margin-top: 15px;
    width: 100%;
    height: auto;
}

.graphic-container {
    width: 80%;
    position: relative;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    padding-bottom: 20px;
    border-bottom: 2px solid white;
}
.graphic-container .graphic {
    width: 80%;
    height: auto;
}
.graphic-container .win-rides-button {
    width: 70%;
}

.text-container {
    padding: 30px 0px;
}
.text-container h1 {
    font-size: 25px;
}
.text-container a {
    text-decoration: none;
}
.text-container a h2 {
    text-decoration: none;
    color: white;
    padding: 15px 0px;
    transition: 0.3s;
    transition-timing-function: cubic-bezier(.4, -0.5, 0, 1.2);
}
.text-container a h2 i {
    transition: 0.3s;
    transition-timing-function: cubic-bezier(.4, -0.5, 0, 1.2);
}
.text-container a:hover h2 i {
    margin-left: 5px;
}