* {
  padding: 0px;
  margin: 0px;
  cursor: default;
}

body {
  position: relative;
  background-color: #46a8fa;
  font-family: 'Accord', sans-serif;
  color: white;
  text-align: center;
  padding: 0px;
  margin: 0px;
  overflow-y: hidden;
}

#main {
  background-color: #46d5fa;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1fb7e9), to(#46d5fa));
  background-image: linear-gradient(#1fb7e9, #46d5fa);
  position: relative;
  height: 100vh;
  width: 100vw;
  max-width: calc(100vh / 1.6);
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-box-shadow: 4px 0px 0px #1877b7, -4px 0px 0px #1877b7,
              0px 0px 200px rgba(0, 0, 0, 0.4);
          box-shadow: 4px 0px 0px #1877b7, -4px 0px 0px #1877b7,
              0px 0px 200px rgba(0, 0, 0, 0.4);
}

h1 {
  font-family: 'AccordExtraBold', sans-serif;
  font-size: 32px;
}
h2 {
  font-family: 'AccordThin', sans-serif;
  font-size: 27px;
}
p {
  font-family: 'AccordReg', sans-serif;
  font-size: 22px;
}
a:hover, a:hover>* {
  cursor: pointer !important;
}

button {
  font-family: 'AccordMedium', sans-serif;
  padding: 10px 0px;
  margin: 10px 0px;
  border: none;
  font-size: 22px;
  border-radius: 5px;
  background-color: #1877b7;
  color: white;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transition-timing-function: cubic-bezier(.4, -0.5, 0, 2);
          transition-timing-function: cubic-bezier(.4, -0.5, 0, 2);
}
button:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
button:active {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-filter: brightness(0.8);
          filter: brightness(0.8);
}
button:focus {
  outline: none;
  border: none;
}

.content-container {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

@media (orientation: portrait) {
  #main {
    width: 100vw;
    max-width: 100vw;
  }
  h1 {
    font-size: 5.14vw;
  }
  h2 {
    font-size: 4.64vw;
  }
  h3 {
    font-size: 4.14vw;
  }
  button {
    font-size: 3.89vw;
    margin: 1vh 0px;
  }
}