
body {
  padding: 0px;
  margin: 0px;
  background-color: #46a8fa;
  font-family: 'Accord', sans-serif;
  color: white;
  text-align: center;
}

#main {
  background-color: #46d5fa;
  position: relative;
  height: 100vh;
  width: 100vw;
  max-width: calc(100vh / 1.6);
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0px 0px 200px rgba(0, 0, 0, 0.25);
}